/*
	Author:			Gabe, Gianna, Kyah
	Date:			4/19/23
	Assignment:		McCall's Website
*/

body {
	font-family: 'Times New Roman', Times, serif;
	background-size: cover;
	font-size: 1.2em;
}

.leftContainer {
	text-align: center;
	position: relative;
	right: 160px;
	top: 125px;
}

.rightContainer {
	text-align: center;
	position: relative;
	left: 160px;
	bottom: 45px;
}

.middleContainer {
	text-align: center;
	top: 45px;
}

h1 {
	font-size: 1.2em;
}

